In [55]:
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [56]:
# read metadata
pq.read_metadata('yellow_tripdata_2023-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x3524225c0>
  created_by: parquet-cpp-arrow version 8.0.0
  num_columns: 19
  num_rows: 3066766
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 10386

In [57]:
file= pq.ParquetFile('yellow_tripdata_2023-01.parquet')
table = file.read()
table.schema

VendorID: int64
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: double
trip_distance: double
RatecodeID: double
store_and_fwd_flag: string
PULocationID: int64
DOLocationID: int64
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
airport_fee: double
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 2492

In [60]:
# convert to pandas
df = table.to_pandas()

In [58]:
# connect PostgreSQl with sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [59]:
# Generate CREATE SQL
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

# Insert data

In [62]:
# create batches > 100,000 = batch_size
batches_iter = file.iter_batches(batch_size=100000)

# test first batch
df = next(batches_iter).to_pandas()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2023-01-02 14:56:24,2023-01-02 15:16:33,1.0,3.72,1.0,N,186,236,1,21.2,0.00,0.5,6.30,0.0,1.0,31.50,2.5,0.00
99996,2,2023-01-02 14:12:54,2023-01-02 14:21:00,1.0,0.00,1.0,N,162,107,1,8.6,0.00,0.5,2.00,0.0,1.0,14.60,2.5,0.00
99997,2,2023-01-02 14:30:33,2023-01-02 14:33:00,1.0,0.00,1.0,N,90,249,1,4.4,0.00,0.5,1.68,0.0,1.0,10.08,2.5,0.00
99998,2,2023-01-02 14:34:28,2023-01-02 14:41:43,1.0,0.00,1.0,N,249,164,1,7.9,0.00,0.5,2.38,0.0,1.0,14.28,2.5,0.00
99999,2,2023-01-02 14:34:47,2023-01-02 14:46:38,1.0,1.99,1.0,N,79,170,1,13.5,0.00,0.5,3.50,0.0,1.0,21.00,2.5,0.00

In [64]:
# Insert values into the table
t_start = time()
count = 0

for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count} ...')
    b_start = time()

    batch_df.to_sql(name='ny_taxi_data', con=engine, if_exists='append')
    b_end = time()
    print(f'inserted, time taken {b_end-b_start:10.3f} seconds.\n')

t_end = time()
print(f'Completed. Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1 ...
inserted, time taken      5.432 seconds.

inserting batch 2 ...
inserted, time taken      4.553 seconds.

inserting batch 3 ...
inserted, time taken      4.459 seconds.

inserting batch 4 ...
inserted, time taken      4.502 seconds.

inserting batch 5 ...
inserted, time taken      4.661 seconds.

inserting batch 6 ...
inserted, time taken      4.554 seconds.

inserting batch 7 ...
inserted, time taken      4.530 seconds.

inserting batch 8 ...
inserted, time taken      4.719 seconds.

inserting batch 9 ...
inserted, time taken     35.509 seconds.

inserting batch 10 ...
inserted, time taken      4.509 seconds.

inserting batch 11 ...
inserted, time taken      5.201 seconds.

inserting batch 12 ...
inserted, time taken      5.072 seconds.

inserting batch 13 ...
inserted, time taken      4.958 seconds.

inserting batch 14 ...
inserted, time taken      4.619 seconds.

inserting batch 15 ...
inserted, time taken      4.661 seconds.

inserting batch 16 ...
inserted, time taken      4.575 seconds.

inserting batch 17 ...
inserted, time taken      4.458 seconds.

inserting batch 18 ...
inserted, time taken      4.748 seconds.

inserting batch 19 ...
inserted, time taken      4.812 seconds.

inserting batch 20 ...
inserted, time taken      4.624 seconds.

inserting batch 21 ...
inserted, time taken      4.616 seconds.

inserting batch 22 ...
inserted, time taken      4.581 seconds.

inserting batch 23 ...
inserted, time taken      4.746 seconds.

inserting batch 24 ...
inserted, time taken      4.574 seconds.

inserting batch 25 ...
inserted, time taken      4.919 seconds.

inserting batch 26 ...
inserted, time taken      4.577 seconds.

inserting batch 27 ...
inserted, time taken      4.724 seconds.

inserting batch 28 ...
inserted, time taken      4.639 seconds.

inserting batch 29 ...
inserted, time taken      4.965 seconds.

inserting batch 30 ...
inserted, time taken      4.822 seconds.

inserting batch 31 ...
inserted, time taken      2.783 seconds.

Completed. Total time taken was    175.614 seconds for 31 batches.